mixin process()
  section.process&attributes(attributes)
    h2.process__title Мы&nbsp;работаем в&nbsp;комплексе
    p.process__descr чтобы&nbsp;Вы не&nbsp;тратили время на&nbsp;поиск и&nbsp;организацию множества подрядчиков
    +step-one
