.intro {
  position: relative;
  padding-top: 209px;
  padding-bottom: 62px;

  background-image: $cerulean-to-blue-80, url("../img/content/intro-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  @include vp-1439 {
    padding-top: 150px;
  }

  @include vp-1023 {
    padding-top: 120px;
  }

  .lines {
    padding-top: 81px;

    &::before {
      content: "";
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      height: 1px;
      opacity: 0.2;

      background-color: $color-default-white;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 55px;
    padding: 0 8.45%;

    @include vp-1439 {
      flex-direction: column;
    }

    @include vp-767 {
      padding: 0;
      margin-bottom: 20px;
    }
  }

  &__main-info {
    max-width: 580px;

    @include vp-1439 {
      margin-bottom: 50px;
    }

    @include vp-1023 {
      margin-bottom: 40px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 33px;

    font-family: $ff-gilroy;
    font-weight: 800;
    font-size: 42px;
    line-height: 51px;
    letter-spacing: -0.5px;
    color: $color-default-white;

    @include vp-1439 {
      margin-bottom: 20px;
    }

    @include vp-1023 {
      margin-bottom: 10px;

      font-size: 38px;
    }

    @include vp-767 {
      font-size: 32px;
    }
  }

  &__descr {
    opacity: 0.7;
    max-width: 75%;
    margin: 0;

    font-weight: 600;
    font-size: 20px;
    line-height: 170%;
    color: $color-default-white;

    @include vp-767 {
      max-width: 100%;
    }
  }

  &__offer {
    width: 28.8%;

    @include vp-1439 {
      width: 40%;
    }

    @include vp-1023 {
      width: 50%;
    }

    @include vp-767 {
      width: 100%;
    }
  }

  &__btn {
    margin-top: 10px;
    margin-bottom: 36px;

    @include vp-1439 {
      margin-top: 0;
      margin-bottom: 20px;
    }

    @include vp-767 {
      margin-bottom: 12px;
    }
  }

  &__offer-descr {
    margin: 0;

    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: $color-default-white;
  }

  &__bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include vp-767 {
      flex-wrap: wrap;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    @include vp-1439 {
      width: 100%;
      justify-content: space-between;
    }

    @include vp-767 {
      flex-direction: column;
      width: auto;
      margin-right: 20px;
      margin-top: 30px;
    }
  }

  &__item {
    display: flex;
    width: 270px;
    margin-right: 90px;

    @include vp-1439 {
      margin-right: 20px;
    }

    @include vp-767 {
      margin-right: 0;
      margin-bottom: 10px;
    }

    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }

    svg {
      flex-shrink: 0;
      margin-right: 26px;

      @include vp-1023 {
        width: 42px;
        height: auto;
        margin-right: 16px;
      }

      @include vp-767 {
        width: 26px;
        margin-right: 12px;
      }
    }

    span {
      font-weight: 700;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: -0.5px;
      color: $color-default-white;

      @include vp-1023 {
        font-size: 16px;
      }

      @include vp-767 {
        font-size: 14px;
      }
    }
  }

  &__video {
    position: relative;
    width: 220px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
    overflow: hidden;

    @include vp-1439 {
      position: absolute;
      right: 0;
      top: -50px;

      transform: translateY(-100%);
    }

    @include vp-1023 {
      width: 170px;
      height: 170px;
    }

    @include vp-767 {
      position: relative;
      right: auto;
      top: auto;
      margin: 0 auto;
      margin-top: 20px;

      transform: none;
    }
  }

  &__video-spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    animation-name: spinner;
    animation-timing-function: linear;
    animation-duration: 40s;
    animation-iteration-count: infinite;

    will-change: transform;
  }

  &__video-btn {
    position: relative;
    width: 63.6%;
    height: 63.6%;
    overflow: hidden;
    cursor: pointer;

    border-radius: 50%;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      opacity: 0;

      background-color: $color-default-white;

      transition: opacity $trans-default;
    }

    &::after {
      content: "";
      position: absolute;
      top: calc(50% - 12px);
      left: calc(50% - 8px);

      border-style: solid;
      border-color: transparent transparent transparent $color-gorse;
      border-width: 12px 0 12px 20px;
    }

    @include has-hover {
      &::before {
        opacity: 0.2;
        outline: none;
      }
    }
  }
}
