// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette

$color-nero:                        #151515;
$color-night-rider:                 #333333;
$color-matterhorn:                  #505050;
$color-dim-gray:                    #707070;
$color-white-smoke:                 #f5f5f5;
$color-gorse:                       #fee040;
$color-sweet-corn:                  #ffeb81;
$color-maya-blue:                   #60b6ff;

$color-dark-cerulean-80:            rgba(0, 78, 134, 0.8);
$color-prussian-blue-80:            rgba(10, 65, 104, 0.8);
$color-dark-cerulean-90:            rgba(0, 78, 134, 0.9);
$color-prussian-blue-90:            rgba(10, 65, 104, 0.9);

// Gradient

$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);
$cerulean-to-blue-80:               linear-gradient(180deg, $color-dark-cerulean-80 0%, $color-prussian-blue-80 100%);
$cerulean-to-blue-90:               linear-gradient(180deg, $color-dark-cerulean-90 0%, $color-prussian-blue-90 100%);
$blue-to-cerulean:                  linear-gradient(180deg, $color-maya-blue 0%, $color-dark-cerulean-80 100%);
$gorse-to-transparent:              linear-gradient(270deg, $color-gorse 0%, $color-transparent 100%);


// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        18px;

$ff-default:                        "Proxima Nova", "Arial", sans-serif;
$ff-bebas:                          "Bebas Neue", "Arial", sans-serif;
$ff-gilroy:                         "Gilroy", "Arial", sans-serif;


// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
